*{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    overflow: hidden;
}
body{
    background-color: black;
}

/* <!-- Overall my Main Section --> */
.main{
    display: flex;
    height: 100vh;
    padding: 0.3rem;
}

.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem; /* 1rem = 16px depends upon their root element */
    margin-right: 0.6rem;
}

.main-content{
   background-color: #121212;
   flex: 1;
   border-radius: 1rem;
   overflow: auto;
   padding: 0 1.5rem 0 1.5rem;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a{
    text-decoration: none;
    color: white;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
    line-height: 2.5rem;
}
.nav-option{
    /* background-color: #121212; */
    opacity: 0.7;
    padding: 0.5rem 0.80rem;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem; 
    margin-left: 1rem;
}

/* i, a, .icons, .lib-option, img{
    background-color: #121212;
} */

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.80rem;
}
.option {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    display: flex;
    font-size: 1.2rem;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}

/* .lib-box, .box, .box-1, .box-2{
    background-color: #232323;
} */
.lib-box{
    background-color: #232323;
    border-radius: 0.8rem;
    margin: 0.9rem 0 1.8rem 0;
    
}
.box{
    height: 8rem;
    margin: 0.3rem 0 0.3rem 0;
    padding: 0.5rem 1rem;
    line-height: 2.5rem;
}
.box-1{
    font-size: 1rem;
    font-weight: 600;
}
.box-2{
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    border-radius: 2rem;
    font-weight: bold; 
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.badge:hover{
    cursor: pointer;
    opacity: 0.75;
    font-size: 0.9rem;
}
.dark-badge{
    background-color: #000000;;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 2rem;
    font-weight: bold; 
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-img{
    margin-left: 0.8rem;
}

.sticky-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky-btn button{
    margin-right: 1.3rem;
}
.dark-badge i {
    margin-right: 0.5rem;
}


@media (max-width: 1000px){

    .hide{
        display: none;
    }
}

.card{
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* background-color: #232323; */
    width: 11rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}
.card:hover{
    background-color: #232323;
    cursor: pointer;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
    padding-bottom: 1.25rem;
}
.card-tittle{
    padding-bottom: 1.25rem;
    font-weight: 600;
}
.card-info{
    font-size: 0.8rem;
    opacity: 0.8;
}

.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 90%;
    height: 40%;
    border-top: 1px solid white ;
    opacity: 0.4;
}

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player{
    width: 50%;
}
.player-control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-control-icon{
    height: 1rem;
    margin-left: 1.9rem;
    opacity: 0.75;
}
.player-control-icon:hover{
    opacity: 1;
}
.play-pause{
    height: 2rem;
    opacity: 1;
    cursor: pointer;
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.6rem;
}
.progress-bar{
    width: 70%;
    margin: 0 1rem 0 1rem;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
}

.album{
    width: 25%;
}

.album-icon{
    display: flex;
    align-items: center;
    
}

.album-icon-img{
    opacity: 0.7;
    margin-right: 0.75rem;
}
.album-icon-img:hover{
    opacity: 1;
}
.pic1{
    width: 15%;
    border-radius: 5px;
    opacity: 1;
    margin-left: 0.5rem;
}
.paragraph{
    margin-right: 1rem;
}
.para1{
    font-size: 0.8rem;
    font-weight: 600;
}
.para2{
    font-size: 0.6rem;
    padding-top: 0.4rem;
    opacity: 0.7;
}
.album-icon-img2{
    height: 40px;
}

.controls{
    width: 25%;
}

.all-control{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 3rem; */
}
.control-icon-tags{
    height: 2.2rem;
    margin-left: 0.6rem;
    opacity: 0.8;
}
.ham-burger, .deck{
    height: 1.2rem;
    opacity: 0.4;
}
.tag-control{
    margin: 0;
}
.control-icon-tags:hover{
    opacity: 1;
}
